{#
/*
 * This file is part of the Order Pdf plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'default_frame.twig' %}

{% set menus = ['order', 'order_master'] %}

{% block title %}受注管理{% endblock %}
{% block sub_title %}受注マスター{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <form role="form" name="order_pdf_form" id="order_pdf_form" method="post"
          action="{{ url('admin_order_pdf_download') }}">
        {{ form_widget(form._token) }}
        <div class="row" id="aside_wrap">
            <div class="col-md-9">
                <div class="box form-horizontal">
                    <div class="box-header">
                        <h3 class="box-title">帳票の作成</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>

                            {# 注文番号 #}
                            <tr>
                                <th class="col-sm-2"><label class="control-label">注文番号</label></th>
                                <td>
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.ids) }}
                                        {{ form_errors(form.ids) }}
                                    </div>
                                </td>
                            </tr>
                            {# 発行日 #}
                            <tr>
                                <th><label class="control-label">発行日</label></th>
                                <td>
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.issue_date) }}
                                        {{ form_errors(form.issue_date) }}
                                    </div>
                                </td>
                            </tr>
                            {# 帳票タイトル #}
                            <tr>
                                <th><label class="control-label">帳票タイトル</label></th>
                                <td>
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.title) }}
                                        {{ form_errors(form.title) }}
                                    </div>
                                </td>
                            </tr>
                            {# メッセージ #}
                            <tr>
                                <th><label class="control-label">メッセージ</label></th>
                                <td>
                                    {# メッセージ1行目 #}
                                    {{ form_label(form.message1) }}
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.message1) }}
                                        {{ form_errors(form.message1) }}
                                    </div>
                                    {# メッセージ2行目 #}
                                    {{ form_label(form.message2) }}
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.message2) }}
                                        {{ form_errors(form.message2) }}
                                    </div>
                                    {# メッセージ3行目 #}
                                    {{ form_label(form.message3) }}
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.message3) }}
                                        {{ form_errors(form.message3) }}
                                    </div>
                                </td>
                            </tr>
                            {# 備考 #}
                            <tr>
                                <th valign="middle"><label class="control-label">備考</label></th>
                                <td>
                                    {# 備考1行目 #}
                                    {{ form_label(form.note1) }}
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.note1) }}
                                        {{ form_errors(form.note1) }}
                                    </div>
                                    {# 備考2行目 #}
                                    {{ form_label(form.note2) }}
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.note2) }}
                                        {{ form_errors(form.note2) }}
                                    </div>
                                    {# 備考3行目 #}
                                    {{ form_label(form.note3) }}
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.note3) }}
                                        {{ form_errors(form.note3) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label class="control-label">入力内容を保存する</label>
                                </th>
                                <td>
                                    <div class="col-sm-9 col-lg-10">
                                        {{ form_widget(form.default) }}
                                        {{ form_errors(form.default) }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-3">
                <div class="col_inner" id="aside_column">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg"
                                            onclick="document.order_pdf_form.submit();">この内容で作成する
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-default btn-block btn-lg" id="reset">リセット
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <a id="back" href="#">検索画面に戻る
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $("#reset").click(function (_e) {
                _e.preventDefault();
                $("input[name='admin_order_pdf[title]']").val('{{ form.vars.value.title }}');
                $("input[name='admin_order_pdf[issue_date]']").val('{{ "now"|date("Y-m-d") }}');
                $("input[name='admin_order_pdf[message1]']").val('{{ form.vars.value.message1 }}');
                $("input[name='admin_order_pdf[message2]']").val('{{ form.vars.value.message2 }}');
                $("input[name='admin_order_pdf[message3]']").val('{{ form.vars.value.message3 }}');
                $("input[name='admin_order_pdf[note1]']").val('{{ form.vars.value.note1 }}');
                $("input[name='admin_order_pdf[note2]']").val('{{ form.vars.value.note2 }}');
                $("input[name='admin_order_pdf[note3]']").val('{{ form.vars.value.note3 }}');
            });

            $("#back").click(function (event) {
                event.preventDefault();
                history.back(1);
            });
        });
    </script>
{% endblock %}
